@model IEnumerable<MVC_CNMB_V2.Models.School>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolEircode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolEircode)
            </td>
            <td>
                    @Html.ActionLink("Edit", "create", new { id=item.SchoolId}) |
                @Html.ActionLink("Details", "GetSchoolById", new { id=item.SchoolId }) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.SchoolId })
            </td>
        </tr>
}
    </tbody>
</table>
